VITE_API_URL=http://127.0.0.1:3000/api
VITE_PLATFORM_URL=http://127.0.0.1:8000/sso/verify
VITE_VERIFY_API_URL=http://localhost:3001/api
VITE_USE_VERIFY_API=true
VITE_INACTIVITY_TIMEOUT=15
NODE_ENV=development
VITE_VERIFY_API_TOKEN=Token

# Agent Key
VITE_AGENT_KEY=AGENT_00000000-0000-0000-0000-000000000000
VITE_STATION_ID=STATION_0001
